body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .cls-1{
    fill:none;
}

.twitter-svg {
    fill:#1da1f2;
    width: 22px;
    height: 22px;
}

.fb-svg {
    fill: #1778f2 !important;
    width: 25px;
    height: 25px;
}

.docsie-social-share-plugin {
  float: right;
}

.anchor-wrapper {
  display: inline-block;
}
  
.anchor-wrapper-gnr {
  display: block;
}

.docsie-social-share-plugin-gnr {
  position: absolute;
  left: 0;
  top: 50%;
}